mixin playerThumbCard(player)
  .col-md-4
    .card.mb-4.shadow-sm
      svg.bd-placeholder-img.card-img-top&attributes({"width": "100%"}, {"height": "225"}, {"focusable": "false"}, {"role": "img"})
        title #{player.firstName} "#{player.nickname}" #{player.lastName}
        - var color = player.active ? "#55595c" : "#ff6961"
        rect(width="100%" height="100%" fill=`${color}`)
        text(x="50%" y="30%" fill="#eceeef" dy=".3em") #{player.firstName} 
        text(x="50%" y="50%" fill="#eceeef" dy=".3em") "#{player.nickname}"
        text(x="50%" y="70%" fill="#eceeef" dy=".3em") #{player.lastName}
      .card-body
        .card-text Points: #{player.totalPoints}
        .card-text Team: #{player.teamName}
        .card-text Jersey #: #{player.jersey}
        .card-text Postion: #{player.pos}
        .card-text Years Pro: #{player.yearsPro}
        .card-text College: #{player.collegeName}